"*":
  "atom-color-highlight": {}
  "atom-lint": {}
  "auto-encoding": {}
  core:
    disabledPackages: [
      "highlight-column"
      "vim-mode"
      "japanese-wrap"
      "linter-shellcheck"
    ]
  editor:
    fontFamily: "Osaka-Mono"
    fontSize: 20
    invisibles:
      eol: " "
      space: "-"
    lineHeight: 1
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "349411db-9c91-f137-dab4-73b42b83a41f"
  "japanese-wrap":
    characterWidth: {}
  linter:
    showErrorPanel: false
  "linter-shellcheck": {}
  localization:
    CurrentLanguage: "Japanese"
  "markdown-preview": {}
  minimap:
    plugins:
      pigments: true
  "one-dark-ui": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
