# ルートの設定（.editorconfigはプロジェクトのルートに置く）
root = true

[*]
indent_style = space
# =============================================================================
# MEMO:
# end_of_line,charset settings is optional.
# Because Always orverrided by .editorconfig and
# Always show utf-8/unix in lightline in vim, if cp932/crlf file opened.
# =============================================================================
# end_of_line = lf
# charset = utf-8
trim_trailing_whitespace = true
indent_size = 2
insert_final_newline = true

[*.snip]
indent_style = tab
indent_size = 2

[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

[*.mdc]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

[*.java]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4

[*.go]
indent_style = tab
indent_size = 4

[*.sql]
indent_style = tab
indent_size = 2

; [lib/**.js]
; indent_style = space
; indent_size = 2

; [{package.json,.travis.yml}]
; indent_style = space
; indent_size = 2

[*.sh]
; # like -i=2
indent_style = space
indent_size = 2

shell_variant      = posix # like -ln=posix
binary_next_line   = true  # like -bn
switch_case_indent = true  # like -ci
space_redirects    = true  # like -sr
keep_padding       = true  # like -kp
; function_next_line = true  # like -fn
; never_split        = true  # like -ns

; # Ignore the entire "third_party" directory.
; [third_party/**]
; ignore = true
