"*":
  "atom-color-highlight": {}
  "atom-lint": {}
  "auto-encoding": {}
  core:
    disabledPackages: [
      "highlight-column"
      "japanese-wrap"
      "linter-shellcheck"
      "symbols-view"
      "vim-mode"
      "ex-mode"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "HackGen Console"
    fontSize: 24
    invisibles:
      cr: " "
      eol: " "
      space: "-"
      tab: "^"
    lineHeight: 1
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "349411db-9c91-f137-dab4-73b42b83a41f"
  "japanese-wrap":
    characterWidth: {}
  linter: {}
  "linter-shellcheck": {}
  localization:
    CurrentLanguage: "Japanese"
  "markdown-preview": {}
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "one-dark-ui": {}
  "vim-mode": {}
  "vim-mode-plus":
    clearHighlightSearchOnResetNormalMode: true
    highlightSearch: true
    ignoreCaseForSearch: true
    ignoreCaseForSearchCurrentWord: true
    incrementalSearch: true
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
    stayOnTransformString: true
    stayOnYank: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
