[Desktop Entry]
Name=WinBoat
Exec=/usr/local/bin/winboat
Icon=winboat
Type=Application
Categories=Utility;
Terminal=false
Comment=Run Windows apps on Linux
