<?xml version="1.0"?>
<packages>
    <package id="GoogleChrome" />
    <package id="Firefox" />
    <package id="Gpg4win" />
    <package id="ctags" />
    <package id="curl" />
    <package id="git" />
    <package id="hg" />
    <package id="dropbox" />
    <package id="mingw" />
    <package id="mingw-get" />
    <package id="nodejs" />
    <package id="python" />
    <package id="python3" />
    <package id="ruby" />
    <package id="Everything" />
    <package id="Apple_iCloud_Control_Panel" />
    <package id="winmerge" />
    <package id="Desktops" />
    <package id="imagemagick" />
</packages>
