<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XtraFinder_ShowStatusBarIcon</key>
	<true/>
	<key>XtraFinder_XFAlwaysShowToolbarPlugin</key>
	<true/>
	<key>XtraFinder_XFAutoArrangeByNamePlugin</key>
	<true/>
	<key>XtraFinder_XFBackspaceToGoBackPlugin</key>
	<false/>
	<key>XtraFinder_XFBrowserViewColorPlugin</key>
	<false/>
	<key>XtraFinder_XFColorfulSidebarPlugin</key>
	<false/>
	<key>XtraFinder_XFCopyPathMenuPlugin</key>
	<true/>
	<key>XtraFinder_XFCutAndPastePlugin</key>
	<true/>
	<key>XtraFinder_XFDualWindowActionPlugin</key>
	<false/>
	<key>XtraFinder_XFEnterToOpenPlugin</key>
	<true/>
	<key>XtraFinder_XFFitColumnWidthPlugin_Name</key>
	<true/>
	<key>XtraFinder_XFFolderItemCountPlugin</key>
	<true/>
	<key>XtraFinder_XFFoldersOnTopPlugin</key>
	<true/>
	<key>XtraFinder_XFGoUpToolbarButtonPlugin</key>
	<true/>
	<key>XtraFinder_XFHideDotFilesOnDesktopPlugin</key>
	<true/>
	<key>XtraFinder_XFLabelsInSidebarPlugin</key>
	<false/>
	<key>XtraFinder_XFLaunchAsRootActionPlugin</key>
	<true/>
	<key>XtraFinder_XFNewTerminalActionPlugin</key>
	<true/>
	<key>XtraFinder_XFOpenInNewWindowPlugin</key>
	<true/>
	<key>XtraFinder_XFPathBarBreadcrumbMenuPlugin</key>
	<true/>
	<key>XtraFinder_XFRenameActionPlugin</key>
	<true/>
	<key>XtraFinder_XFRenameActionPlugin_Shortcut</key>
	<dict>
		<key>keyChars</key>
		<string></string>
		<key>keyCharsIgnoringModifiers</key>
		<string></string>
		<key>keyCode</key>
		<integer>120</integer>
		<key>modifierFlags</key>
		<integer>8388608</integer>
		<key>modifiers</key>
		<integer>8388608</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_MiddleClickOpenInSecondPanel</key>
	<false/>
	<key>XtraFinder_XFTabPlugin_NarrowTabBar</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_NewTabShortcut</key>
	<dict>
		<key>keyChars</key>
		<string>t</string>
		<key>keyCharsIgnoringModifiers</key>
		<string>t</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
		<key>modifiers</key>
		<integer>256</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_NewTabWithSamePath</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_PinnableBrowserShortcut</key>
	<dict>
		<key>keyChars</key>
		<string>i</string>
		<key>keyCharsIgnoringModifiers</key>
		<string>i</string>
		<key>keyCode</key>
		<integer>34</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
		<key>modifiers</key>
		<integer>256</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_PinnableWindow_Slide</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_PreferPinnableWindow</key>
	<false/>
	<key>XtraFinder_XFTabPlugin_ReopenClosedTabShortcut</key>
	<dict>
		<key>keyChars</key>
		<string></string>
		<key>keyCharsIgnoringModifiers</key>
		<string>t</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
		<key>modifiers</key>
		<integer>4096</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SaveOpenTabs</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_SelectNextTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>	</string>
		<key>keyCode</key>
		<integer>48</integer>
		<key>modifierFlags</key>
		<integer>262144</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_SelectPreviousTabShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>	</string>
		<key>keyCode</key>
		<integer>48</integer>
		<key>modifierFlags</key>
		<integer>393216</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_ShiftClickOpenInSecondPanel</key>
	<false/>
	<key>XtraFinder_XFTabPlugin_ShowPinButton</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_ShowSecondSidebar</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_ShowSideBar</key>
	<true/>
	<key>XtraFinder_XFTabPlugin_SidebarWidth</key>
	<real>133</real>
	<key>XtraFinder_XFTabPlugin_ToggleDualPanelShortcut</key>
	<dict>
		<key>keyCharsIgnoringModifiers</key>
		<string>u</string>
		<key>keyCode</key>
		<integer>32</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
	</dict>
	<key>XtraFinder_XFTabPlugin_UseSelectTabShortcuts</key>
	<true/>
	<key>XtraFinder_XFToolbarButtonService</key>
	<true/>
	<key>XtraFinder_XFTransparentWindowPlugin</key>
	<false/>
</dict>
</plist>
