# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

[templates]
defer = "{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}"
fpath-list = "{% for file in files %}fpath=(\"{{ file }}\" $fpath)\n{% endfor %}"

[plugins]

# For example:
#
# [plugins.base16]
# github = "chriskempson/base16-shell"

######################################################
# Deferring plugins
######################################################
[plugins.zsh-defer]
github = "romkatv/zsh-defer"

# # Enhance cd command
# [plugins.enhancd]
# github = "b4b4r07/enhancd"
# github = "babarot/enhancd"

######################################################
# Theme
######################################################
[plugins.zsh-syntax-highlighting]
github = 'zsh-users/zsh-syntax-highlighting'
apply = ["defer"]
# [plugins.pure]
# github = "sindresorhus/pure"
# use = ["async.zsh", "pure.zsh"]
# [plugins.spaceship]
# github = "spaceship-prompt/spaceship-prompt"

######################################################
# Search
######################################################
[plugins.zsh-history-substring-search]
github = 'zsh-users/zsh-history-substring-search'
apply = ["defer"]

######################################################
# Suggestions
######################################################
[plugins.zsh-autosuggestions]
github = 'zsh-users/zsh-autosuggestions'
apply = ["defer"]

######################################################
# Completion
######################################################
[plugins.zsh]
github = 'zsh-users/zsh'
use = [
  'Completion/Linux/Command',
  'Completion/Unix/Command',
  'Completion/Zsh/Command'
]
apply = ["fpath-list"]

[plugins.zsh-completions]
github = 'zsh-users/zsh-completions'
apply = ["defer"]

[plugins.my-fpath]
local = "~/.dot/apps/zsh/.zsh/Completion"
apply = ["fpath"]

# # NOT WORK
# [plugins.fzf]
# local = "~/.fzf"
# use = ["shell/key-bindings.zsh", "shell/completion.zsh"]
# apply = ["defer"]

[plugins.asdf-completion]
local = "~/.asdf/completions"
apply = ["fpath"]

[plugins.zsh-kubectl-completion]
github = 'nnao45/zsh-kubectl-completion'
apply = ["defer"]

[plugins.brew-completion]
inline = 'command -v brew &>/dev/null && fpath=( "$(brew --prefix)/share/zsh/site-functions" $fpath )'

# NOTE:
# - set fpath before compinit
# - fpath N-/ : meanings no add if not exist.
# - autoload: load function when called
#     - autoload -X: load function when called, and execute once
#     - autoload +X: only load function when called, not execute
#     - autoload -U: load function as undefined until called
#     - autoload -z: disable ksh style autoloading, and enable zsh style autoloading
# fpath=(~/.zsh/Completion(N-/) $fpath)
# fpath=(~/.zsh/functions/*(N-/) $fpath)
# fpath=(~/.zsh/plugins/zsh-completions(N-/) $fpath)
# fpath=(~/.asdf/completions(N-/) $fpath)
#fpath=(/usr/local/share/zsh/site-functions(N-/) $fpath)
# autoload -U run-help
# #autoload -Uz add-zsh-hook
# autoload -Uz cdr
# #autoload -Uz colors; colors
# # autoload -Uz compinit; compinit -u
# #autoload -Uz is-at-least
# #autoload -Uz history-search-end
# #autoload -Uz modify-current-argument
# #autoload -Uz smart-insert-last-word
# #autoload -Uz terminfo
# # [[ ${OSTYPE} != "msys" ]] && autoload -Uz vcs_info
# #autoload -Uz zcalc
# #autoload -Uz zmv
# autoload run-help-git
# autoload run-help-svk
# autoload run-help-svn
[plugins.compinit]
inline = """
autoload -Uz compinit
#zsh-defer compinit -u
compinit -u
"""

